@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dancing+Script:wght@400;500;700&display=swap"); 

html{scroll-behavior:smooth}
body{font-family:'DM Sans',sans-serif;word-break:break-word;font-display:swap;scrollbar-face-color:#484441;scrollbar-track-color:#f5f5f5}
::-webkit-scrollbar{width:14px;height:10px}
::-webkit-scrollbar-thumb{background:#484441;border-radius:80px;border:solid 3px #f5f5f5;min-height:150px}
::-webkit-scrollbar-thumb:hover{background:#777}
::-webkit-scrollbar-track{background-color:#f5f5f5}
.btn,body .btn:focus,body a,body a:focus,body button,body button:focus,body input,body input:focus,body select,body select:focus,body textarea,body textarea:focus{outline:0}
body select{cursor:pointer}
body a,body a:focus,body a:hover{text-decoration:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
body a:focus,body button:focus{box-shadow:none}
body ul{list-style:none;padding:0;margin:0}
body .about-mailtoleft-box .bi.bi-envelope-open-fill,
body .btn,
body .footer-area .F_social_icon a,
body .footer-area .F_social_icon a i,
body .popular-destination.blogaddalist .image_area_partition::after,
body a,
body button{transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
body,html{height:100%;margin:0}
body img{max-width:100%;height:auto}
body .full-w{width:100%;float:left}
*,img{image-rendering:crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast}

body .new_header_area{box-shadow:0 5px 10px 0 rgb(0 0 0 / 5%);padding:0;text-shadow:0 0 15px transparent}
body .navtop_callto{background:#252431;background:-moz-linear-gradient(top,#252431 0,#0f0e14 100%);background:-webkit-linear-gradient(top,#252431 0,#0f0e14 100%);background:linear-gradient(to bottom,#252431 0,#0f0e14 100%);padding:10px 0}
body .new_header_area .navtop_2{padding-top:18px;padding-bottom:18px;padding-left:15px;padding-right:15px}
body .new_header_area_empty{min-height:126.67px}
body .new_header_area .navbar-nav a{margin-left:7px;text-decoration:none;font-size:16px;font-weight:500;color:#757783;position:relative;padding:5px 20px}
body .new_header_area .navbar-nav a:hover{color:#313041}
body .new_header_area .navbar-nav a.active{color:#000;text-shadow:-1px 1px 0 rgb(255 223 118),0 0 .65px #333,0 0 .65px #333}
body .new_header_area .social-urls.text-right{position:relative;top:2px}
body .new_header_area li{vertical-align:middle}
body .navtop_callto .callmail a{margin:0}
body .new_header_area .navbar-nav a:after{content:"";width:0;height:92px;position:absolute;background-repeat:no-repeat;left:0;z-index:-1;background-position:center;top:-35px;background-size:cover;background:#ffc60b;background:-moz-linear-gradient(top,#ffc60b 0,#f0b800 100%);background:-webkit-linear-gradient(top,#ffc60b 0,#f0b800 100%);background:linear-gradient(to bottom,#ffc60b 0,#f0b800 100%);opacity:0;transform:skewX(-15deg);-webkit-transform:skewX(-15deg);-ms-transform:skewX(-15deg);-moz-transform:skewX(-15deg);-o-transform:skewX(-15deg);transition:all .2s cubic-bezier(.5, 0, 0, 1.25);-webkit-transition:all .2s cubic-bezier(.5, 0, 0, 1.25);-ms-transition:all .2s cubic-bezier(.5, 0, 0, 1.25);-moz-transition:all .2s cubic-bezier(.5, 0, 0, 1.25);-o-transition:all .2s cubic-bezier(.5, 0, 0, 1.25);box-shadow:0 -7px 26px rgb(0 0 0 / 15%)}
body .new_header_area .navbar-nav a.active:after{opacity:1;width:100%}
body .navtop_callto ul.social-urls a{color:#fff;font-size:18px;font-weight:500}
body .navtop_callto .callmail a .bi,
body .navtop_callto .callmail a:hover,
body .navtop_callto ul.social-urls a:hover{color:#ffc60b}
body .navtop_callto .callmail a{color:#9d9d9d;font-weight:500}
body .enginebanner_sctn{background-image:url('../public/bgtravel-home.jpg');background-size:cover;background-position:top center;position:relative;overflow:hidden;background-attachment:fixed}
body .enginebanner_sctn .container{position:relative;z-index:2}
body .enginebanner_sctn::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:-moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 100%);background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 100%)}
body .enginebanner_sctn .minh.align-items-center.row{min-height:635px}
body .enginebanner_sctn .banner-shape-14.w-100{position:absolute;bottom:-1px;left:0;height:80px;z-index:2}
body .enginebanner_sctn .enginebox{background:0 0;padding-bottom:12px;border-radius:8px;margin-top:-30px}
body .avail-thefform .btn{width:100%}
body .enginebanner_sctn .enginebox .input-group-text{background:#fff;height:100%}
body .enginebanner_sctn .row{margin:0 -7px}
body .enginebanner_sctn .row .col-12{padding:0 7px}
body .enginebanner_sctn .btn,
body .enginebanner_sctn .form-control{height:50px;font-size:17px;box-shadow:none}
body .form-control:focus{border-color:#f4bc03}
body .ripple-effbtn{position:relative;overflow:hidden}
body img.object-cover{object-fit:cover}
body .image_area_partition span{position:static!important}
body .image_area_partition .wrapper,
body .image_area_partition img,
body .ripple-effbtn::after{transition:all .6s cubic-bezier(.5, 0, 0, 1.25);-webkit-transition:all .6s cubic-bezier(.5, 0, 0, 1.25);-ms-transition:all .6s cubic-bezier(.5, 0, 0, 1.25);-moz-transition:all .6s cubic-bezier(.5, 0, 0, 1.25);-o-transition:all .6s cubic-bezier(.5, 0, 0, 1.25)}
body .ripple-effbtn span{position:relative;z-index:4}
body .ripple-effbtn::after{content:"";position:absolute;width:100%;height:120%;background:#000;z-index:1;left:-200%;top:-10%;border-radius:0 100px 100px 0}
body .headerusd-dropdown .dropdown-menu .btn.btn-site.active::after,
body .ripple-effbtn:hover::after{left:-20%;width:160%}
body .btn.btn-site{background:#ffc60b;background:-moz-linear-gradient(top,#ffc60b 0,#f0b800 100%);background:-webkit-linear-gradient(top,#ffc60b 0,#f0b800 100%);background:linear-gradient(to bottom,#ffc60b 0,#f0b800 100%);color:#000;font-weight:600;border:none;transition:all .6s cubic-bezier(.5, 0, 0, 1.25);-webkit-transition:all .6s cubic-bezier(.5, 0, 0, 1.25);-ms-transition:all .6s cubic-bezier(.5, 0, 0, 1.25);-moz-transition:all .6s cubic-bezier(.5, 0, 0, 1.25);-o-transition:all .6s cubic-bezier(.5, 0, 0, 1.25)}
body .btn.btn-site:hover,
body .headerusd-dropdown .dropdown-menu .btn.btn-site.active{color:#fff}
body .top-title.text-center h2{font-size:40px;position:relative;margin:0;font-weight:700;line-height:1.2;z-index:2}
body .top-title.text-center h2::after,
body .top-title.text-center h2::before{width:10px;height:55px;position:absolute;left:50%;content:'';background:#ffe48a;opacity:.4;border-radius:5px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);z-index:-1}
body .top-title.text-center h2::before{top:-9px;margin-left:-13px}
body .top-title.text-center h2::after{bottom:-15px}
body .top-title.text-center p{font-family:'Dancing Script',cursive,sans-serif;margin-bottom:0;font-size:30px;color:#313041}
body .top-title.text-center h2 span{color:#d7a500}
body .top-title.text-center{margin-bottom:35px}
body .popular-destination{background:url('/static/images/bg-plane-bird.png'),url('/static/images/bg-line-map.png');background-position:top -330px left,top right;background-repeat:no-repeat;background-size:auto}
body .popular-destination,
body .pyblock-80{padding:80px 0}
body .popular-destination .row{margin:-5px}
body .popular-destination .row .col-12{padding:5px}
body .image_area_partition{position:relative;display:block;overflow:hidden;border-radius:10px;-webkit-box-shadow:-6px 6px 15px 0 rgb(0 0 0 / 15%);-moz-box-shadow:-6px 6px 15px 0 rgb(0 0 0 / 15%);box-shadow:-6px 6px 15px 0 rgb(0 0 0 / 15%)}
body .image_area_partition:hover{box-shadow:0 0 23px rgb(10 10 10 / 30%);-moz-box-shadow:0 0 23px rgb(10 10 10 / 30%);-webkit-box-shadow:0 0 23px rgb(10 10 10 / 30%)}
body .image_area_partition img{width:100%;height:350px!important}
body .blogaddalist-round:hover .image_area_partition img,
body .image_area_partition:hover img{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);-moz-transform:scale(1.2);transform:scale(1.2)}
body .footer-area .F_social_icon a:hover i{-webkit-transform:scale(1.4);-ms-transform:scale(1.4);-moz-transform:scale(1.4);transform:scale(1.4)}
body .image_area_partition:hover .wrapper{bottom:8px;color:#ffc60b;text-shadow:2px 2px 0 rgb(133 101 0),-2px 3px 5px rgb(0 0 0),-2px 3px 5px rgb(0 0 0)}
body .image_area_partition::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:-moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 100%);background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.75) 100%)}
body .image_area_partition .wrapper{position:absolute;z-index:2;bottom:0;padding:15px 20px 15px;font-size:26px;color:#fff;margin:0;line-height:1.2;font-weight:700}
body .popular-destination.travellist{background-color:#fff6d7;background-image:url('/static/images/bg-map.png');background-position:top center;padding-top:0}
body .popular-destination.travellist .top-title.text-center h2::after,
body .popular-destination.travellist .top-title.text-center h2::before{display:none}
body .popular-destination.travellist .row{margin:-10px}
body .popular-destination.travellist .row .col-12{padding:10px}
body .popular-destination.travellist .overflow-hidden.ppt-clistaff.mt-shapeneed{position:relative;top:-2px}
body .popular-destination.travellist .ppt-clistaff.mt-shapeneed svg{height:80px;width:100%}
body .footer-area a.ripple-effbtn{border-radius:4px;padding:1px 5px}
body .footer-area a.ripple-effbtn::after{background:rgb(59 59 60);border-radius:0 100px 100px 0}
body .footer-area{background:#303030;background-image:url('/static/images/wavedrk-pur-footer.png');background-position:top right;background-repeat:no-repeat;background-size:cover}
body .footer-area .inner_container_1.container{padding-top:60px;padding-bottom:60px}
body .footer_logos_bottom{background-color:#181818;color:#838383;padding:30px 0}
body .footer_logos_bottom p{margin:0;letter-spacing:.4px}
body .footer_logos_bottom p.footer_logos{margin-bottom:20px}
body .footer-area .use-head{color:#fff;font-weight:700;font-size:24px}
body .footer-area,
body .footer-area a{color:#a9a8b6}
body .footer-area ul.use-li{margin:0 -5px}
body .footer-area ul.use-li li{margin-bottom:-2px}
body .form-control:focus{box-shadow:0 0 0 .2rem rgb(245 189 4 / 25%)}
body .footer-area .subscribe-form .form-control{background:#222}
body .footer-area .subscribe-form .form-control{margin-bottom:10px;color:#a9a8b6}
body .footer-area .subscribe-form .btn,
body .footer-area .subscribe-form .form-control{height:60px;border:none;border-radius:8px!important;text-align:center}
body .footer-area ul.use-li.address span{color:#f2ba01;margin-right:10px;display:block;font-weight:600}
body .footer-area .F_social_icon a{text-align:center;cursor:pointer;border-radius:50%;height:38px;width:38px;border:solid 1px #3c3c3c;margin-right:10px;-webkit-box-shadow:0 4px 20px 0 rgb(0 0 0 / 10%);box-shadow:0 4px 20px 0 rgb(0 0 0 / 10%)}
body .footer-area .F_social_icon a:hover{-webkit-box-shadow:0 4px 20px 0 rgb(0 0 0 / 40%);box-shadow:0 4px 20px 0 rgb(0 0 0 / 40%);color:#d7a500}
body .footer-area .F_social_icon{margin-top:20px;border-top:dashed 1px #424242;padding-top:14px;margin-bottom:0}
body .footer-area .F_social_icon a i{margin:auto;position:relative;top:1px}
body .footer-area .F_social_icon a{margin-bottom:10px}
body .footer-area ul.use-li.address{margin:0}
body .new_header_area .navbar-toggler-icon{margin-right:-3px}
body .btn.btn-site.ripple-effbtn.btn-40{padding:11px 30px}
body .breadcrumb_area{background:url('/static/images/bg-line-dottsbread.png') no-repeat scroll center center #282828;overflow:hidden;background-size:cover;position:relative;z-index:2}
body .breadcrumb_area{position:relative;padding:60px 0}
body .breadcrumb_area h1,.breadcrumb_area h3{font-size:34px;font-weight:600;color:#fff;padding-bottom:5px}
body .breadcrumb_area h3 span{display:block;font-weight:400;font-size:40%;margin-top:10px;line-height:1.6}
body .breadcrumb_area ul li{display:inline-block}
body .breadcrumb_area ul li a{font-weight:700;letter-spacing:.39px;text-transform:uppercase;color:#fff;position:relative;-webkit-transition:all .3s linear 0s;-o-transition:all .3s linear 0s;transition:all .3s linear 0s}
body .breadcrumb_area ul li:first-child a:before{display:none}
body .breadcrumb_area ul li:last-child a{padding-right:0}
body .banner_inner_content ul li.active a,
body .breadcrumb_area ul li:hover a{color:#ffb606}
body .breadcrumb_area .breadcrumb{padding:0;background:0 0;margin-bottom:0}
body .breadcrumb_area .breadcrumb-item.active{color:#f4bb03}
body .breadcrumb_area .breadcrumb-item+.breadcrumb-item::before{content:"\f27b";display:inline-block;font-family:bootstrap-icons!important;font-style:normal;font-weight:400!important;font-variant:normal;text-transform:none;line-height:1;vertical-align:-.125em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#fff;position:relative;top:5px;margin-left:5px}
body .about-font-18 .sub-title{line-height:1.4;font-weight:600;padding:7px 20px;border-radius:5px;margin-bottom:20px;background:#f6f3e4;display:inline-block;text-transform:capitalize;color:#d7a500;font-size:16px}
body .about-mailtoleft-box h6{font-size:20px;margin-bottom:20px;border-bottom:solid 1px #e3e3e3;padding-bottom:12px}
body .about-mailtoleft-box h4{font-weight:700;margin-bottom:0;font-size:19px}
body .about-mailtoleft-box p a{color:#5b5675;font-size:18px;font-weight:300}
body .about-mailtoleft-box .bi.bi-envelope-open-fill{display:block;height:60px;width:60px;min-width:60px;border:none;font-size:22px;line-height:60px;background:#f3bb02;background:-moz-linear-gradient(top,#f3bb02 0,#cc9202 100%);background:-webkit-linear-gradient(top,#f3bb02 0,#cc9202 100%);background:linear-gradient(to bottom,#f3bb02 0,#cc9202 100%);text-align:center;border-radius:50%;margin-right:11px;margin-top:-6px;color:#fff;box-shadow:0 1px 7px 5px #fff,0 4px 8px 3px rgb(0 0 0 / 15%);text-shadow:0 4px 8px rgb(0 0 0 / 40%)}
body .about-font-18 p,
body .blogaddalist-inner p{color:#4e4e4e}
body .about-mailtoleft-box p a:hover{color:#282828}
body .about-mailtoleft-box ul:hover .bi.bi-envelope-open-fill{background:-moz-linear-gradient(top,rgb(129 99 2) 0,#cc9202 100%);background:-webkit-linear-gradient(top,rgb(129 99 2) 0,#cc9202 100%);background:linear-gradient(to bottom,rgb(129 99 2) 0,#cc9202 100%)}
body .footer-area .footer_phone a.ripple-effbtn span{color:#a9a8b6}
body .popular-destination.blogaddalist{background-color:rgb(243 187 2 / 7%)}
body .popular-destination.blogaddalist .image_area_partition .wrapper{font-weight:600;font-size:16px;left:10px;bottom:10px;text-shadow:none;background:#252431;background:-moz-linear-gradient(top,#252431 0,#0f0e14 100%);background:-webkit-linear-gradient(top,#252431 0,#0f0e14 100%);background:linear-gradient(to bottom,#252431 0,#0f0e14 100%);color:#fff;border-radius:4px;box-shadow:8px -8px 0 rgb(17 16 24)}
body .popular-destination.blogaddalist .image_area_partition{border-radius:10px 10px 0 0;box-shadow:none}
body .popular-destination.blogaddalist .row{margin:0 -15px}
body .popular-destination.blogaddalist .row .col-12{padding:0 15px}
body .popular-destination.blogaddalist .image_area_partition::after{background:-moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 100%);background:-o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 100%);background:-ms-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 100%);background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 100%);bottom:0;top:auto}
body .popular-destination.blogaddalist .blogaddalist-round:hover .image_area_partition::after{background:-moz-linear-gradient(top,rgba(0,0,0,0) 0,rgb(155 119 0) 100%);background:-o-linear-gradient(top,rgba(0,0,0,0) 0,rgb(155 119 0) 100%);background:-ms-linear-gradient(top,rgba(0,0,0,0) 0,rgb(155 119 0) 100%);background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgb(155 119 0) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgb(155 119 0) 100%);height:30%}
body .blogaddalist-inner{background:#fff;padding:30px;padding-top:40px;margin-top:-15px;border-radius:8px;border:1px solid #efefef}
body .blogaddalist-round{box-shadow:10px 0 30px rgb(240 184 0 / 30%);margin-bottom:40px;border-radius:12px;overflow:hidden}
body .blogaddalist-round .h4.title{font-weight:700;color:#000;margin-bottom:11px;display:block}
body .blogaddalist-round hr.mx-row-hr{margin:30px -30px}
body .about-font-18 p,
body .blogaddalist-inner p{letter-spacing:.4px}
body .blogaddalist-inner,
body .blogaddalist-round hr.mx-row-hr{border-color:#fbefc4}
body .fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-timing-function:cubic-bezier(0.5,0,0,1.25);animation-timing-function:cubic-bezier(0.5,0,0,1.25);-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
.fadeOutDownBig{-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-name:fadeOutDownBig;animation-name:fadeOutDownBig;-webkit-animation-timing-function:cubic-bezier(0.5,0,0,1.25);animation-timing-function:cubic-bezier(0.5,0,0,1.25);-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes fadeOutDownBig{0%{opacity:1}
100%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}
}
@keyframes fadeOutDownBig{0%{opacity:1}
100%{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}
}
body .popular-destination.blogaddalist.details .top-title.text-center{text-align:left!important;margin-bottom:20px}
body .popular-destination.blogaddalist.details .blog-inner-box2 ul{list-style-type:disc}
body .popular-destination.blogaddalist.details .blog-inner-box2 ol{list-style-type:decimal}
body .popular-destination.blogaddalist.details .blog-inner-box2 ol,
body .popular-destination.blogaddalist.details .blog-inner-box2 ul{padding-left:22px;margin-bottom:30px}
body .popular-destination.blogaddalist.details .blog-inner-box2 ol li{padding-left:10px}
body .popular-destination.blogaddalist.details .blog-inner-box2 ul li{margin-bottom:8px}
body .popular-destination.blogaddalist.details .blog-inner-box2 ol li{margin-bottom:8px}
body .popular-destination.blogaddalist.details .blogaddalist-round{margin-bottom:0}
body .popular-destination.blogaddalist.details .blog-inner-box2 h1{font-size:220%;font-weight:700;margin-bottom:16px}
body .popular-destination.blogaddalist.details .blog-inner-box2 h2{font-size:180%;margin-top:40px}
body .popular-destination.blogaddalist.details .blog-inner-box2 h3{font-size:140%;margin-top:40px;margin-bottom:1.2rem}
body .popular-destination.blogaddalist.details .blog-inner-box2 h4{font-size:120%}
body .popular-destination.blogaddalist.details .blog-inner-box2 h5{font-size:115%}
body .popular-destination.blogaddalist.details .blog-inner-box2 h6{font-size:110%}
body .popular-destination.blogaddalist .blogaddalist-round .btn.btn-site.ripple-effbtn.btn-40{padding-top:13px;padding-bottom:13px;min-width:170px}
body .headerusd-dropdown{margin-left:45px;position:relative}
body .headerusd-dropdown .dropdown-menu{left:auto;right:0;-webkit-animation-name:fadeInUpheaderusd;animation-name:fadeInUpheaderusd;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:cubic-bezier(0.5,0,0,1.25);animation-timing-function:cubic-bezier(0.5,0,0,1.25);-webkit-animation-fill-mode:both;animation-fill-mode:both;margin-top:26px;width:310px;background-position:center;border:none;box-shadow:0 6px 30px rgb(0 0 0 / 20%);-webkit-box-shadow:0 6px 30px rgb(0 0 0 / 20%);border-radius:8px;background-image:url('/static/images/dots-circle-half.png');background-repeat:no-repeat;background-position:left top;background-size:cover}
body .headerusd-dropdown .dropdown-menu::after{content:'';width:17px;height:17px;background:#fff;position:absolute;top:-9px;right:30px;box-shadow:-10px -18px 30px rgb(0 0 0 / 20%);-webkit-box-shadow:-10px -18px 30px rgb(0 0 0 / 20%);transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg)}
@-webkit-keyframes fadeInUpheaderusd{0%{opacity:0;-webkit-transform:translate3d(0,10%,0);transform:translate3d(0,10%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInUpheaderusd{0%{opacity:0;-webkit-transform:translate3d(0,10%,0);transform:translate3d(0,10%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
body .headerusd-dropdown button.dropdown-toggle::after{display:none}
body .headerusd-dropdown button.dropdown-toggle span i{margin-left:4px;font-size:80%}
body .headerusd-dropdown .btn-outline-secondary{background-color:rgb(243 187 2 / 10%);border-color:rgb(243 187 2 / 40%);color:#957200;font-weight:600}
body .headerusd-dropdown .btn-outline-secondary:not(:disabled):not(.disabled).active,
body .headerusd-dropdown .btn-outline-secondary:not(:disabled):not(.disabled):active,
body .headerusd-dropdown .show>.btn-outline-secondary.dropdown-toggle{background-color:rgb(243 187 2 / 30%);color:#957200;border-color:#957200}
body .headerusd-dropdown .btn-outline-secondary.focus,
body .headerusd-dropdown .btn-outline-secondary:focus,
body .headerusd-dropdown .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
body .headerusd-dropdown .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
body .headerusd-dropdown .show>.btn-outline-secondary.dropdown-toggle:focus{box-shadow:0 0 0 .3rem rgb(242 186 1 / 15%)}
body .curr-block{padding:10px 22px}
body .curr-block h5{margin-bottom:10px;font-weight:500;color:#2d2d2d}
body .headerusd-dropdown .dropdown-menu hr.my-3.dropdown-divider{border-top:1px dashed #e9ecef}
body .btn.btn-site.whitebt{background:#fff}
body .headerusd-dropdown .dropdown-menu .btn.btn-site{padding-left:5px;padding-right:5px;background:#eceff1}
body .curr-block .row{margin:0 -7px -14px}
body .curr-block .row .col-6{padding:0 7px 14px}
body .selcur-rew.row .flg{background-image:url('/static/images/flags-currency.jpg');width:29px;padding-left:10px;background-repeat:no-repeat;background-size:auto 100%;height:19px;display:inline-block;margin-right:10px;vertical-align:middle;margin-top:-10px;position:relative;top:3px;border-radius:4px}
body .selcur-rew.row .btn.btn-site.whitebt{color:#607d8b;box-shadow:0 7px 15px 0 rgb(0 0 0 / 6%)}
body .selcur-rew.row .btn.btn-site.whitebt:hover{color:#000}
body .selcur-rew.row .btn.btn-site.whitebt:focus{background:0 0;box-shadow:0 0 0 .2rem rgb(163 163 163 / 10%)}
body .selcur-rew.row .btn.btn-site.whitebt.ripple-effbtn::after{background:rgb(243 187 2 / 15%)}
body .selcur-rew.row .USD.flg{background-position-x:-203px}
body .selcur-rew.row .INR.flg{background-position-x:-134px}
body .selcur-rew.row .AUD.flg{background-position-x:0px}
body .selcur-rew.row .GBP.flg{background-position-x:-101px}
body .selcur-rew.row .AED.flg{background-position-x:-67px}
body .selcur-rew.row .EUR.flg{background-position-x:-33px}
body .selcur-rew.row .CA.flg{background-position-x:-168px}
body .breadcrumb_area.large-pgbn{min-height:535px}
body .breadcrumb_area.large-pgbn::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:-moz-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,.9) 100%);background:-webkit-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,.9) 100%);background:-o-linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(0,0,0,.9) 100%);background:-ms-linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(0,0,0,.9) 100%);background:linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(0,0,0,.9) 100%)}
body .breadcrumb_area.large-pgbn .container{position:relative;z-index:2;margin-top:auto}
body .shape-bottom.bigbanner-wgb{position:absolute;bottom:-2px;height:100px;width:100%;left:0;transform:rotateX(180deg);-webkit-transform:rotateX(180deg);-ms-transform:rotateX(180deg);-moz-transform:rotateX(180deg);-o-transform:rotateX(180deg);z-index:1}
body .shape-bottom.bigbanner-wgb svg{height:80px;width:100%}
body .cheapflight-lar .blog-inner-box2 p strong{font-size:23px;margin:0;text-transform:capitalize;font-weight:700;display:block;margin-top:20px;margin-bottom:6px;text-align:left}
body .cheapflight-lar .popular-destination.blogaddalist{background-color:#f6f9fe}
body .enginebanner_sctn.full-w.smallbannercheap .minh.align-items-center.row{min-height:460px}
body .cheapflight-lar .enginebanner_sctn .banner-shape-14.w-100{display:none}
body .cheapflight-lar .blogaddalist-inner,
body .cheapflight-lar .popular-destination.blogaddalist.details .blogaddalist-round{background:0 0;border:none;box-shadow:none;padding:0}
body .popular-destination.blogaddalist.details.full-w.allwerly{padding:0;background:0 0}
body .gray-bg-least{background-color:#f6f9fe}
body .blogaddalist-round.overflow-visible{overflow:visible}
body .blog-inner-box2 ol li p,
body .blog-inner-box2 ul li p{margin:0}
@media (min-width:576px){
    body .about-font-18,
    body .about-font-18 p,
    body .blogaddalist-inner p{font-size:18px}
}
@media (min-width:992px){.breadcrumb_area{padding:90px 0}
body .about-font-18 .sub-title{font-size:18px}
body .about-font-18 p{margin-bottom:20px}
body .about-font-18 p:last-child{margin-bottom:0}
body .popular-destination.blogaddalist.details .top-title.text-center h2{font-size:36px}
}
@media (min-width:1200px){
body .headerusd-dropdown::after{content:" ";width:1px;color:transparent;border-left-width:1px;border-left-style:solid;vertical-align:middle;margin:0 29px 0 0;line-height:0;border-color:#e9e9e9;position:absolute;left:-33px;float:left;top:-22px;height:82px;-webkit-transform:rotate(15deg);-moz-transform:rotate(15deg);-o-transform:rotate(15deg);-ms-transform:rotate(15deg);transform:rotate(15deg)}
body .headerusd-dropdown button.dropdown-toggle{transform:skewX(-15deg);-webkit-transform:skewX(-15deg);-ms-transform:skewX(-15deg);-moz-transform:skewX(-15deg);-o-transform:skewX(-15deg)}
body .headerusd-dropdown button.dropdown-toggle span{transform:skewX(15deg);-webkit-transform:skewX(15deg);-ms-transform:skewX(15deg);-moz-transform:skewX(15deg);-o-transform:skewX(15deg);display:inline-block}
}
@media (min-width:1300px){
body .popular-destination.blogaddalist .row .col-12{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
body .footer-area .subscribe-form .btn,
body .footer-area .subscribe-form .form-control,
body .footer-area ul.use-li{font-size:17px}
}
@media(min-width:1330px){body .container{max-width:1300px}
}
@media(min-width:1430px){body .container{max-width:1400px}
}
@media(max-width:991px){::-webkit-scrollbar{width:2px;height:10px}
}
@media (max-width:1199px){
body .footer-area .subscribe-form .btn,
body .footer-area .subscribe-form .form-control{height:50px}
body .new_header_area_empty{min-height:80.09px}
body .about-font-18{margin-bottom:45px}
body .popular-destination.blogaddalist .row{margin:0 -10px}
body .popular-destination.blogaddalist .row .col-12{padding:0 10px}
body .blogaddalist-round{margin-bottom:30px}
body .new_header_area .navtop_2{padding-top:13px;padding-bottom:13px}
body .headerusd-dropdown{margin-left:auto;margin-right:7px}
body .new_header_area_empty{min-height:69.67px}
body .new_header_area .navbar-toggler{padding:0;border:none;box-shadow:none}
body .new_header_area .navbar-nav a{margin-left:0;margin-right:0;padding-left:0;padding-right:0}
body .new_header_area .navbar-nav a:after{display:none}
body .new_header_area .navbar-nav a.active{text-shadow:none;font-weight:600}
body .navtop_callto{margin-top:10px;border-radius:10px;text-align:left;-webkit-box-shadow:-6px 6px 15px 0 rgb(0 0 0 / 15%);-moz-box-shadow:-6px 6px 15px 0 rgb(0 0 0 / 15%);box-shadow:-6px 6px 15px 0 rgb(0 0 0 / 15%)}
body .new_header_area .social-urls.text-right{text-align:left!important;margin-top:10px;padding-top:10px;border-top:dashed 1px #484752;top:0}
body .new_header_area li{vertical-align:middle;margin-left:25px!important}
body .new_header_area li:first-child{margin-left:0!important}
body .new_header_area a.border-first{border-top:solid 1px #e9e9e9;margin-top:9px;padding-top:10px}
body .footer-area .inner_container_1.container .row{margin-bottom:-40px}
body .footer-area .inner_container_1.container .col-12{margin-bottom:40px}
body .breadcrumb_area.large-pgbn{min-height:500px}
}
@media (max-width:991px){
body .enginebanner_sctn .banner-shape-14.w-100,
body .shape-bottom.bigbanner-wgb svg{height:60px}
body .top-title.text-center p{font-size:26px}
body .top-title.text-center h2{font-size:36px}
body .popular-destination,
body .pyblock-80{padding:70px 0}
body .image_area_partition .wrapper{padding:15px 20px 15px;font-size:24px}
body .footer-area{background-size:auto;background-repeat:repeat}
body .breadcrumb_area{background-size:260%}
body .popular-destination.blogaddalist.details .blog-inner-box2 h1{font-size:160%}
body .popular-destination.blogaddalist.details .blog-inner-box2 h2{font-size:150%}
body .popular-destination.blogaddalist.details .blog-inner-box2 h3{font-size:140%}
body .breadcrumb_area.large-pgbn{min-height:450px}
}
@media (max-width:767px){
body .blogaddalist-round{margin-bottom:40px}
body .headerusd-dropdown .dropdown-menu{right:-45px;width:300px}
body .headerusd-dropdown .dropdown-menu::after{right:48px}
body .enginebanner_sctn.full-w.smallbannercheap .minh.align-items-center.row{min-height:auto;padding-top:90px;padding-bottom:60px}
body .about-font-18 h2{font-size:1.6rem}
}
@media (max-width:575px){
body ul.callmail li{display:block!important;margin-left:0!important;margin-right:0!important}
body .about-font-18 h2{font-size:1.4rem}
body ul.callmail li:first-child{margin-bottom:10px;margin-top:5px}
body ul.callmail li:last-child{margin-bottom:5px}
body .new_header_area .social-urls.text-right,
body ul.callmail{text-align:center!important}
body .new_header_area .navbar-brand img{width:170px}
body .breadcrumb_area.large-pgbn{min-height:400px}
body .new_header_area_empty{min-height:66.44px}
body .enginebanner_sctn .banner-shape-14.w-100,
body .popular-destination.travellist .ppt-clistaff.mt-shapeneed svg,
body .shape-bottom.bigbanner-wgb svg{height:45px}
body .enginebanner_sctn .btn,
body .enginebanner_sctn .form-control{height:45px}
body .pageerror-wrap span.display-1.d-block{font-size:70px}
body .image_area_partition .wrapper,
body .top-title.text-center p{font-size:22px}
body .top-title.text-center h2{font-size:32px}
body .top-title.text-center h2::before{top:-4px;margin-left:-23px}
body .popular-destination.travellist .overflow-hidden.ppt-clistaff.mt-shapeneed{margin-bottom:40px}
body .popular-destination,
body .pyblock-80{padding:60px 0}
body .popular-destination{background-size:220%,110px;background-position:top -15% left,top 2% right}
body .breadcrumb_area h1,
body .breadcrumb_area h3{font-size:30px}
body .about-mailtoleft-box .bi.bi-envelope-open-fill{height:50px;width:50px;min-width:50px;line-height:50px;font-size:20px}
body .about-mailtoleft-box p a{font-size:17px}
body .blogaddalist-inner{padding-left:15px;padding-right:15px}
body .headerusd-dropdown .dropdown-menu hr.my-3.dropdown-divider{margin-top:10px!important;margin-bottom:10px!important}
body .curr-block{padding:10px 15px}
body .headerusd-dropdown{margin-right:3px}
body .headerusd-dropdown .dropdown-menu{right:-45px;width:300px;max-height:72vh;margin-top:16px}
body .image_area_partition img{height:300px!important}
}
@media (max-width:425px){
body .new_header_area .navbar-brand img{width:140px}
body .headerusd-dropdown .btn-outline-secondary{font-size:13px;padding-left:8px;padding-right:8px;margin-left:-32px}
body .new_header_area_empty{min-height:66px}
body .enginebanner_sctn .banner-shape-14.w-100,
body .popular-destination.travellist .ppt-clistaff.mt-shapeneed svg,
body .shape-bottom.bigbanner-wgb svg{height:30px}
body .breadcrumb_area h1,.breadcrumb_area h3{font-size:26px}
body .top-title.text-center h2{font-size:28px}
body .blogaddalist-round .btn.btn-site{width:100%}
body .blogaddalist-round hr.mx-row-hr{margin:20px -30px 20px}
body .blogaddalist-inner{padding-bottom:20px}
body .image_area_partition img{height:250px!important}
body .blogaddalist-round .h4.title{font-size:1.3rem}
body .cheapflight-lar .blog-inner-box2 p strong{font-size:20px}
}

body .loading{display:flex;height:100vh;position:relative;width:100%;align-items:center;justify-content:center;flex-direction:column;font-size:20px;font-weight:700}
body .loading img{width:100px}
